
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mulish:wght@300;400;500&display=swap');
:root{
	--primary-color:#202020;
	--secondary-color:#f4f7fc;
	--grey:#a6a6a6;
}
html{
	font-size:62.5%;
	scroll-behavior:smooth;
}
*,
::before,
::after{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	height:100%;
	width:100%;
	font-family: 'mulish', sans-serief;
	}
h1,h2,h3{
	font-family:'Player Display,serif';
	font-weight:800;
	color:var(--primary-color);
	margin:1.6 0;
}
p{
	font-weight:400;
	margin:1.6rem 0;
	font-size:1.6rem;
	color: var(--primary-color);
	line-height:1.5;
}
h1{
	font-size:4rem;
}
nav .logo img{
	width:380px;
	height:110px;
}
@media only screen and (max-width:768px){
	nav .logo img{
		width:150px;
		height:60px;
		background:;
	}
	h1{
		font-size:3rem;
	}
}
	h2{
		font-size:3rem;
		letter-spacing:1.5px;
	}
	h3{
		font-size:2.5rem;
		letter-spacing:1.5px;
	}
	h4{
		letter-spacing:1.6px;
	}
span{
	color:var(--grey);
	font-size:1.5rem;
	font-weight:500;
}
a{
	text-decoration:none;
	margin:1.6rem 0;
	color:var(--grey);
	font-size:1.6rem;
}

.container{
	width:80%;
	margin:0 auto;
}
img{
	max-width:100%;
	height:auto;
	
}
hr{
	margin:16px 0;
}
.scroll-top{
	position:fixed;
	bottom:20px;
	right:40px;
	z-index:90;
	background:teal;
	color:white;
	cursor:pointer;
	padding:8px 16px;
	font-size:20px;
	font-weight:800;
}

/*-----------Nav--------*/
nav{
	position:relative;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
nav .menu a{
	border-bottom:none;
	color:var(--primary-color);
	font-weight:700;
	margin-left:24px;
}
nav .icon{
	display:none;
}
@media only screen and (max-width:768px){
	nav .icon{
		display:block;
	
	}
	.menu{
		position:absolute;
		background:linear-gradient(rgba(250,250,250,.9),white);
		width:100%;
		z-index:5;
		display:none;
		right:40px;
		top:100%;
		border-radius:3px;

		
	}
	.menu a{
		
		padding:15px 0;
		font-size:18px;
		display:block;
		color:white;
	}
	.show{
		display:block;
	}
}

main{
	display:grid;
	grid-template-columns:2fr 1fr;
	margin-top:0px;
	grid-gap:10px;
	background:linear-gradient(rgba(250,250,250,.1),white),url('image/shirt heigh.jpg');
	background-size:cover;
	height:100vh;
	background-repeat:no-repeat;
	background-position:center;

	width:100%;
	height:700px;
	text-align:center;
	align-items:center;
	justify-content:center;
	

}
.site{
	margin-left:10px;
	}


main .site .site-right h1 span{
    padding:20px;
    font-size:70px;
	font-family:sans-serief;
    margin-left:-40px;
    line-height:100px;
    color:transparent;
	font-weight:700;
    -webkit-text-stroke:1px transparent;
    background:url("image/shirts.jpg");
    -webkit-background-clip:text;
    background-position:0 0;
    animation:back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position:2000px 0;
    }
}



@media only screen and (max-width:768px){
	main{
		width:100%;
		padding:0 2px;
		grid-template-columns:1fr;
		
	}
	.site{
		grid-template-columns:1fr;
	}
	main .site .site-right h1 span{
		font-size:50px;
		padding:5px;
		
	}
}


main .site .btn a{
	width:150px;
	text-decoration:none;
	border:2px solid teal;
	border-radius:5px;
	color:#111;
	display:inline-block;
	margin:0 10px;
	padding:12px;
	position:relative;
	transition:.1s;
	z-index:1;

}
.btn a span{
	
	width:0;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:teal;
	transition:.5s;
	z-index:-1;
	
}
main .site .btn a:hover span{
	width:100%;
}

main .site .btn a:hover {color:white;}
/*----------------*/
.cont{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	margin:0 auto;
	grid-gap:30px;
	justify-items:center;
	width:90%;
	margin:auto;
}
.cont .contleft{
	background:linear-gradient(rgba(250,250,250,.6),beige),url('image/men shirt4.jpeg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	align-items:center;
	justify-content:center;
	padding-top:50px;
	
	border-radius:20px;

	
}
.cont .contcenter{
	background:linear-gradient(rgba(250,250,250,.6),beige),url('image/men shirt8.jpg');
	background-size:cover;
	border-radius:20px;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	align-items:center;
	justify-content:center;
	padding-top:50px;

}
.cont .contright{
	background:linear-gradient(rgba(250,250,250,.6),beige),url('image/men shirt7.jpg');
	background-size:cover;
	border-radius:20px;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	align-items:center;
	justify-content:center;
	padding-top:50px;
}



@media only screen and (max-width:768px){
	.cont{
		grid-template-columns:1fr;
		justify-items:start;
	}
}



/*----------------*/
footer{
	background:#555;
	margin-top:100px;
	padding:100px 0;
	
	grid-template-columns:repeat(2,1fr);
	grid-gap:px;
	width:100%;
	bottom:0px;
}
footer h3{
	color:white;
}
.foot-top{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	margin:0 auto;
	grid-gap:16px;
	justify-items:center;
}
.footleft{
	padding:7px;
	font-size:14px;
}

.footleft a{
	text-decoration:none;
	color:white;
	font-size:16px;
}
.footcenter{
	color:white;
	padding:15px;
	font-size:16px;
}
.footcenter a{
	color:white;
}
.footright{
	text-align:center;
	color:white;
}
.social-links .fa{
	height:40px;
	width:40px;
	font-size:20px;
	line-height:40px;
	margin:20px 5px;
	color:white;
	transition:0.5s;
}
.social-links .fa:hover{
	color:cyan;
	transform:translateY(-7px);
}
.social-links p{
	font-size:14px;
	margin-top:5px;
	padding:5px;
	color:white;
}
.foot-bottom{
		
		text-align:center;
		justify-content:center;
		color:#B9F6CA;
		font-size:16px;
}
footer hr{
	margin:60px 0;
}
@media only screen and (max-width:768px){
	.foot-top{
		grid-template-columns:1fr;
		justify-items:start;
	}
}











